/*table {
  border-collapse: separate;
  border-spacing: 3px;
  this probably contradicts the absolute positioning below.
}*/

table td {
	position: absolute;
	right: 2em;
	width: 5em;
	height: 2em;
	font-family: Helvetica;
  color: #424242;
  background-color: #a9a9a9;
  font-size: 16;
  border-color: #424242;
  border-style: solid;
  border-width: thin;
  border-radius: 2px;
  margin: 2em;
}

article {
	text-align: left;
  width: 80%;
	height: 40em;
	border-color: #424242;
  border-style: solid;
  border-width: thin;
  margin: 2em;
}

.td1 {
	position: absolute;
	top: 10em;
}

.td2 {
	position: absolute;
	top: 12em;
}

.td3 {
	position: absolute;
	top: 14em;
}

.td4 {
	position: absolute;
	top: 16em;
}

.td5 {
	position: absolute;
	top: 18em;
}

.td6 {
	position: absolute;
	top: 20em;
}

.td7 {
	position: absolute;
	top: 22em;
}

