body {
  background-color: #ccccff;
  text-align: center;
  }

header {
  font-family: Georgia, serif;
  color: #99ff00;
  background-color: #a9a9a9;
  font-size: 36px;
  border-style: solid;
  border-color: #424242;
  width: 100%;
  padding: 2px;
 }


nav li {
  width: 18%;
  display: inline;
  float: left;
  margin: 2px;
  font-family: Helvetica;
  color: #424242;
  background-color: #a9a9a9;
  font-size: 18;
  border-color: #424242;
  border-style: solid;
  border-width: thin;
  border-radius: 2px;
  padding: 2px;
  }

a {
  text-decoration: none;
  color: #424242;
}

a:hover {
  color: #ffff00;
}

a:visited {
  color: yellow;
}

img.adjusted {
  margin-top:15px;
  }

article {
  width: 45%;
  height: 200px;
  display: inline;
  float: left;
  margin: 5px;
  padding: 2px;
  border-color: #424242;
  border-style: solid;
  border-width: thin;
}

h4 {
  color: #99ff00;
  background-color: #a9a9a9;
  font-size: 18px;
  border-color: #424242;
  border-style: solid;
  padding: 2px;
  position: relative;
  top: -25px;
  }